<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="node_modules/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(user, index) in users">
               {{index}} - {{user.name}} - {{user.age}} - {{user.gender}}
            </li>
        </ul>

        <hr>

        <ul>
            <li v-for="(value, key, index) in fruit">
                {{index}} - {{key}} - {{value}}
            </li>
        </ul>
    </div>
    <script type="text/javascript">
        var app = new Vue({
            el: "#app",
            data: {
               users:[
                   {"name":"刘备", "age":38, "gender":"男"},
                   {"name":"张飞", "age":35, "gender":"男"},
                   {"name":"关羽", "age":34, "gender":"男"}
               ],
                fruit:{
                   "name":"apple",
                    "color":"red"
                }
            }
        });
    </script>
</body>
</html>
