<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="node_modules/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="message">
        <hr>
        <input type="text" v-model="person.name"><br>
        <input type="text" v-model="person.age"><br>
        <button @click="person.age++">点我年龄+1</button>
        <h2>
            名字为：{{person.name}}, 年龄为：{{person.age}}
        </h2>
    </div>
    <script type="text/javascript">
        var app = new Vue({
            el: "#app",
            data: {
                message:"西安",
                person:{"name":"xian", "age":100}
            },
            watch:{
                message(n, o){
                    console.log("new value: " + n + ", old value: " + o);
                },
                person: {
                    deep:true,
                    handler(obj){
                        console.log("name: " + obj.name + ", age: " + obj.age);
                    }
                }
            }
        });
    </script>
</body>
</html>
